body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
  background-image: url('./img/codigo-programacao.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.app {
  max-width: 600px;
  margin: 0 auto 50px;
  background-color: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input, select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #333974;
  color: #fff;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: .8;
  transition: opacity 0.3s ease;
}

button:hover {
  opacity: 1;
}

.todos-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
}

.todo {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* permite que quebre em telas menores */
  gap: 10px;
}

.todo .content {
  flex: 1;
  min-width: 200px;
}

.complete {
  background-color: #5cb85c;
}

.remove {
  background-color: #d9534f;
}

.todo-form {
  padding-bottom: 1.5rem;
}

.filter,
.search {
  border-bottom: 1px solid #555;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

/* Aqui começa a responsividade */
.filter-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;
}

.filter-options div {
  flex: 1 1 100%;
}

@media (min-width: 600px) {
  .filter-options {
    flex-direction: row;
  }

  .filter-options div {
    flex: 1 1 0;
  }
}
